header{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
}
header strong{
    font-size: 2.5em;
}
.Player p, .Computer p,.GameTie p{
    font-size: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width:5vw;
    height:5vh;
    background-color: lightgray;
}

.main{
    display: flex;
    justify-content: space-evenly;
}
.MainResult p{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
body{
    background-color: aqua;
}
#choice,#btn{
    height: fit-content;
    width: fit-content;
    margin-top:auto;
}
.pick{
    display: flex;
    gap: 10px;
}